<div class="container footer"
  fxLayoutAlign="center center"
  fxLayout="column"
  fxFlex="100">
  <div>
    <div>
        <h1>Angular Fashions</h1>
    </div>
    <div>
        <h4>FOLLOW US</h4>
    </div>
    <div>
      <div>
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
        <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
      </div>
    </div>
    <div>
      <h4>ABOUT US</h4>
    </div>
    <div>
      <mat-list dense class="inline-list">
        <mat-list-item><a mat-button routerLink='/home'>About Us</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Blog</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Insights</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Jobs</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Partnerships</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Terms of Use</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Privacy Policy</a></mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item><a mat-button routerLink='/home'>Contact</a></mat-list-item>
      </mat-list>
    </div>
    <div>
        <p>Copyright @ 2020 Angular Fashions</p>
    </div>
</div>
