<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex *ngIf="items" (window:resize)="onResize()">
    <mat-grid-list [cols]="breakpoint" rowHeight="200px">
      <mat-grid-tile *ngFor="let item of items">
        <img height="250px" width="200" src="{{ item.image }}" alt={{item.name}}>
        <mat-grid-tile-footer>
          <h1>{{item.name | uppercase}}</h1>
          <h1 class="sale" *ngIf="category === 'sale'" >SALE!</h1>
          <h1 class="new" *ngIf="category === 'new'" >NEW!</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
